.bg-green{
    background-color: forestgreen;
}

.bg-steel{
    background-color: steelblue;
}

.bg-grey{
    background-color: grey;
}

.bg-orange{
    border: 1px solid rgb(235, 149, 37);
    background-color: rgb(235, 149, 37);
    opacity: 85%;
}

.big-font{
    font-size: 28pt;
}

.bigger-font{
    font-size: 32pt;
}

.gnome-form{
    border: 3px solid rgb(235, 149, 37);
    height: 50vh;
    width: 50vh;
}

.service-font{
    font-size: 2rem;
}

.bg-image{
    background-image: url(https://media.istockphoto.com/illustrations/forest-treasure-illustration-id613676514?k=20&m=613676514&s=612x612&w=0&h=yOf1b3ODWbitjlG2JeDlueP7qSP5gtlBpK1NvRmwKEo=);
    background-size: cover;
    background-position: center;
    min-height: 75vh;
}

.margin-time{
    margin-top: 1rem;
    margin-left: 1rem;
}

.font-small{
    font-size: xx-small;
}